.git*                           export-ignore
phpunit.xml               export-ignore
pint.json               export-ignore
.github               export-ignore
tests               export-ignore
resources/css               export-ignore
resources/js               export-ignore
package.json               export-ignore
yarn.lock               export-ignore
vite.config.js               export-ignore
postcss.config.js               export-ignore
WIDGETS.md               export-ignore
AGENTS.md               export-ignore
tailwind.config.js               export-ignore
composer.json merge=ours
composer.lock merge=ours
vite.config.js merge=ours
package.json merge=ours
yarn.lock merge=ours
resources/js merge=ours
resources/css merge=ours
.prettierrc.json merge=ours
eslint.config.js merge=ours